<?xml version="1.0"?>

<launch>
  <!-- Arguments -->
  <arg name="scan_topic"     default="robile_john/scan_front"/>
  <arg name="map_topic"     default="map"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
  <arg name="use_map_topic"   default="true"/>
  <arg name="odom_frame_id"   default="odom"/>
  <arg name="base_frame_id"   default="base_link"/>
  <arg name="global_frame_id" default="map"/>

  <node pkg="amcl" type="amcl" name="amcl">
    <remap from="scan" to="$(arg scan_topic)" />
    <remap from="map" to="$(arg map_topic)" />
    <param name="use_map_topic"  value="$(arg use_map_topic)" />
    <rosparam file="$(find robile_navigation)/config/amcl.yaml" command="load" />
  </node>

</launch>
