<?xml version="1.0"?>

<launch>

  <arg name="map_file" default="$(find robile_navigation)/maps/mymap.yaml"/>
  <arg name="local_planner" default="dwa" doc="Local planner can be either dwa, base, teb or pose"/>
  <arg name="robot_name_1" default="robile_john"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find robile_navigation)/launch/amcl.launch">
  </include>

  <!-- move_base -->
  <include file="$(find robile_navigation)/launch/move_base.launch">
    <arg name="local_planner" value="$(arg local_planner)" />
  </include>

  <group ns="$(arg robot_name_1)">
  </group>	
</launch>
